body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;
  background-color: #f2f5f7;
  color: #333;
}

.container {
  margin: 20px auto;
}

input, button {
  font-size: 1.1em;
  padding: 10px;
  margin: 5px;
}

button {
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005f99;
}

#resultat {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}